@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Spice&family=DynaPuff&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Spice&family=DynaPuff&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

$fontOne:'DynaPuff', cursive;
$fontTwo:'Aboreto', cursive;
$gradientOne:to right ,rgb(199, 227, 255),rgb(8, 95, 175);
$gradientTwo:to right ,rgb(22, 69, 116),rgb(10, 109, 201);

h1{
    
    background: linear-gradient($gradientOne);
    font-family: map-get($map: $fonts, $key:"cinco");
    padding: 1.5rem;
    font-weight:700;
    margin: 5px 20px;
    border-radius: 10px;
    animation-name: textOpacity ;
    animation-duration: 4s;
}
h2{
@extend h1;
    padding: 0.5rem;
    margin: 5px 40px;
}
h3{
    @extend h1;
    padding: 1rem;
    margin: 20px 20px;
}
.textCenter{
    text-align: center;
}

.pBox{
@include texto(90%,auto,20px auto)
}

.pCard{
    padding-top: 22px;
}
.pCard2{
@extend .pCard;
    padding-top: 22px;
    padding-bottom: 20px;

}

.buttonCard{

    background: linear-gradient($gradientTwo);
    border-color: white;
    border-radius: 30px;
 
    
    

}
