
@mixin texto ($width,$height,$margin) {
    width: $width;
    height: $height;
    margin: $margin;
    color: black;
    font-family: $fontTwo;
    font-size: 20px;
    font-weight:700;
    
}

@mixin imagenes ($width,$height) {
    width: $width;
    height: $height;
}

@mixin flexImagenes ($width,$flexWrap,$flexDirection,$alignItems,$justifyContent) {
    display: flex;
    width: $width;
    flex-wrap: $flexWrap;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin marginImagenes ($top,$bot,$left,$right) {
    margin-top: $top;
    margin-bottom: $bot;
    margin-left: $left;
    margin-right: $right;
}
@mixin flexPie ($flexDirection,$alignItems,$justifyContent) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
 
}